@import "tailwindcss";
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease forwards;
}
html {
  color: white;
}
:root {
  --color-primary: #5d34f2;
  --color-secondary: #0fce7c;
  --color-accent: #ff7a50;
}
